@import "color";
@import "mixin";

.before-after {
  background-color: $background-gray;
  color: $font-black;
  padding: 20px 0 35px;
}

.before-after__wrapper {
  width: 100%;
  padding: 0 20px;
}

.before-after__flex-wrapper {
  @include flex(space-between, center);
  margin-bottom: 35px;
}

.before-after__title {
  @include zeroing();
  @include font(36px, 60px);
  margin-bottom: 12px;
}

.before-after__phrase {
  @include zeroing();
  @include font();
  font-family: "Arial";
  color: $font-gray;
  margin-bottom: 23px;
  width: 99%;
}

.before-after__border-gray {
 display: inline-block;
 width: 124px;
 border: 1px solid  $border;
 border-radius: 5px;
 text-align: center;
 padding: 13px 0;
 max-height: 56px;
 }

.before-after__weight,
.before-after__days {
  @include font(24px, 24px);
  text-transform: uppercase;
}

.before-after__days-phrase,
.before-after__weight-phrase {
  @include font(12px, 12px);
  display: inline-block;
  font-family: "Arial";
  color: $font-gray;
  background-color: $background-gray;
  padding: 6px 10px 0;
  max-width: 87px;
}

.before-after__cost {
  @include zeroing();
  @include font(14px, 20px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.before-after__image {
  margin-bottom: 30px;
}

.before-after__image--slim-cat {
  display: none;
}

.before-after__toggle-wrapper {
  text-align: center;
}

.before-after__range-toggle {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 14px;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 6px;
  margin: 0 18px;
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    display: inline-block;
    width: 35px;
    height: 6px;
    background-color: $green;
    border-radius: 6px;
  }
}

.before-after__toggle-left,
.before-after__toggle-right {
  @include zeroing();
  @include font(16px, 20px);
  font-family: inherit;
  text-transform: uppercase;
  color: $font-black;
  border: none;
  background-color: transparent;
  display: inline-block;
}

@media(min-width: 768px) {
  .before-after {
    padding: 45px 0 65px;
    background-color: transparent;
  }

  .before-after__wrapper {
    width: 100%;
    padding: 0;
  }

  .before-after__title {
    @include font(60px, 60px);
    margin-bottom: 63px;
  }

  .before-after__phrase {
    @include font(16px, 24px);
    margin-bottom: 50px;
  }

  .before-after__cost-wrapper {
    @include flex(space-between, center);
    margin-bottom: 86px;
  }

  .before-after__flex-wrapper {
    margin: 0;
    min-width: 366px;
  }

  .before-after__border-gray {
    width: 162px;
    padding: 15px 0;
    max-height: 72px;
   }

   .before-after__weight,
   .before-after__days {
     @include font(30px, 37px);
   }

   .before-after__days-phrase,
   .before-after__weight-phrase {
     @include font(14px, 14px);
     background-color: $white;
     padding: 11px 10px 0;
     max-width: 147px;
   }

  .before-after__cost {
    @include font(20px, 20px);
    margin: 0;
    width: 190px;
    text-align: end;
  }

}
