.before-after {
  background-color: #f2f2f2;
  color: #111111;
}

.before-after__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.before-after__phrase {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 20px;
}

.before-after__border-gray {
 display: inline-block;
 width: 124px;
 border: 1px solid  #cdcdcd;
 border-radius: 5px;
 text-align: center;
 padding: 13px 0;
 }

.before-after__weight,
.before-after__days {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.before-after__days-phrase,
.before-after__weight-phrase {
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.before-after__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
