@import "color";
@import "mixin";

.before-after {
  background-color: $background-gray;
  color: $font-black;
  padding: 20px 20px 35px;
  width: 100%;
}

.before-after__flex-wrapper {
  @include flex(space-between, center);
  margin: 0 auto;
  width: 280px;
  margin-bottom: 35px;
}

.before-after__title {
  @include zeroing();
  @include font(36px, 60px);
  margin-bottom: 12px;
}

.before-after__phrase {
  @include zeroing();
  @include font();
  font-family: "Arial";
  color: $font-gray;
  margin-bottom: 23px;
  width: 99%;
}

.before-after__border-gray {
  display: inline-block;
  width: 124px;
  border: 1px solid $border;
  border-radius: 5px;
  text-align: center;
  padding: 13px 0;
  max-height: 56px;
}

.before-after__days,
.before-after__weight {
  @include font(24px, 24px);
  text-transform: uppercase;
}

.before-after__days-phrase,
.before-after__weight-phrase {
  @include font(12px, 12px);
  display: inline-block;
  font-family: "Arial";
  color: $font-gray;
  background-color: $background-gray;
  padding: 6px 10px 0;
  max-width: 87px;
}

.before-after__cost {
  @include zeroing();
  @include font(14px, 20px);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.before-after__image-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 15px;
  height: 266px;
  width: 280px;
}

.before-after__fat-cat-wrapper {
  position: absolute;
  width: 280px;
  bottom: 0px;
  transition-duration: 1s;
}

.before-after__slim-cat-wrapper {
  position: absolute;
  width: 280px;
  bottom: 0px;
  right: -280px;
  transition-duration: 1s;
}

.before-after__image-slim-cat {
  display: block;
}

.before-after__cat-wrapper--translate-left {
  transform: translateX(-280px);
  transition-duration: 1s;
}

.before-after__toggle-wrapper {
  text-align: center;
}

.before-after__range-toggle {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  width: 84px;
  height: 14px;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 6px;
  margin: 0 18px;
}

.before-after__range-toggle::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 6px;
  background-color: $green;
  border-radius: 6px;
  transition-duration: 1s;
}

.before-after__toggle-left,
.before-after__toggle-right {
  @include zeroing();
  @include font(16px, 20px);
  font-family: inherit;
  text-transform: uppercase;
  color: $font-black;
  border: none;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
}


@media(min-width: 768px) {
  .before-after {
    padding: 45px 30px 65px;
    background-color: transparent;
    background-image: url(../img/background-ea.jpg), url("../img/background-f2.jpg");
    background-repeat: no-repeat, repeat-x;
    background-position: right bottom, left bottom;
    background-size: 50% 462px, 100% 462px;
  }

  .before-after__title {
    @include font(60px, 60px);
    margin-bottom: 63px;
  }

  .before-after__phrase {
    @include font(16px, 24px);
    margin-bottom: 50px;
  }

  .before-after__cost-wrapper {
    @include flex(space-between, center);
    margin-bottom: 86px;
  }

  .before-after__flex-wrapper {
    margin: 0;
    min-width: 366px;
  }

  .before-after__border-gray {
    width: 162px;
    padding: 15px 0;
    max-height: 72px;
  }

  .before-after__days,
  .before-after__weight {
    @include font(30px, 37px);
  }

  .before-after__days-phrase,
  .before-after__weight-phrase {
    @include font(14px, 14px);
    background-color: $white;
    padding: 11px 10px 0;
    max-width: 147px;
  }

  .before-after__cost {
    @include font(20px, 20px);
    margin: 0;
    width: 190px;
    text-align: end;
  }

 .before-after__image-wrapper {
   width: 570px;
   height: 517px;
   margin-bottom: 13px;
  }

  .before-after__fat-cat-wrapper {
    width: 50%;
    display: block;
    height: auto;
    left: 0px;
    overflow: hidden;
  }

  .before-after__slim-cat-wrapper {
    height: auto;
    overflow: hidden;
    width: 50%;
    direction: rtl;
    right: 0px;
  }

  .before-after__image-fat-cat {
    max-width: 545px;
  }

  .before-after__image-slim-cat {
    max-width: 545px;
  }

  .before-after__toggle-wrapper {
    @include flex(center, center);
  }

  .before-after__toggle-left,
  .before-after__toggle-right {
    @include font(20px, 20px);
    color: $font-black;
    padding-bottom: 7px;
    border-bottom: 1px dashed $border;
    &:hover,
    &:focus {
      border-bottom: 1px solid $border;
    }
    &:active {
      border-bottom: none;
    }
  }

  .before-after__range-toggle {
    width: 428px;
    height: 6px;
    background-color: $background-range;
    border: none;
    border-radius: 3px;
    margin: 0 22px;

    &:focus {
      outline: none;
    }
  }

  .before-after__range-toggle::-webkit-slider-thumb {
    width: 34px;
    height: 34px;
    background: radial-gradient(circle closest-side, $green 4px, $white 5px);
    border-radius: 50%;
    border: 1px solid $border;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 1s;

    &:hover {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
    }

    &:active {
    border: none;
    box-shadow: 0 0 0 2px $green inset,
                0px 4px 5px 0px rgba(0, 0, 0, 0.3);
    }
  }
}


@media(min-width: 1440px) {
  .before-after {
    @include flex(space-between, flex-start);
    background-size: 395px;
    padding: 0 110px 68px;
  }

  .before-after__title {
    padding-top: 55px;
    margin-bottom: 145px;
  }

  .before-after__phrase {
    width: 450px;
    margin-bottom: 68px;
  }

  .before-after__cost-wrapper {
    @include flex(space-between, flex-start);
    flex-direction: column;
    margin: 0;
    width: 366px;
  }

  .before-after__flex-wrapper {
    margin-bottom: 60px;
  }

  .before-after__days-phrase,
  .before-after__weight-phrase {
    background-color: $background-gray;
  }

  .before-after__cost {
    text-align: start;
    width: 366px;
  }

  .before-after__margin-left {
    margin-left: 64px;
  }

  .before-after__image-wrapper {
    width: 570px;
    margin-bottom: 43px;
  }

  .before-after__image--fat-cat {
    right: -40px;
  }

  .before-after__toggle-wrapper {
    justify-content: flex-end;
  }
}
