@import "color";
@import "mixin";

.catalog__title {
  @include zeroing();
  @include  font(36px, 60px);
  color: $font-black;
  padding: 22px 20px;
}

.catalog__list {
  @include zeroing();
  list-style: none;
}

.catalog__item {
  @include zeroing();
  padding: 0 20px 24px;
  border-top: 1px solid $block-border;
  &:last-child {
    border-bottom: 1px solid $block-border;
  }
}

.catalog__link-image {
  display: inline-block;
  text-decoration: none;
  width: 140px;
  height: 144px;
  float: left;
  text-align: center;
}

.catalog__image-small {
  width: 85px;
  display: inline-block;
  padding-top: 33px;
}

.catalog__image-big {
  width: 105px;
  display: inline-block;
  padding-top: 23px;
}

.catalog__link-title {
  @include font(16px, 20px);
  color: $font-black;
  text-decoration: none;
  display: inline-block;
  padding-top: 22px;
  width: 90px;
  margin-bottom: 15px;
}

.catalog__table {
  @include font(12px, 12px);
  font-family: "Arial";
  color: $font-gray;
  width: 50%;
}

.catalog__table-item:last-child {
  text-align: right;
}

.catalog__button {
    @include font(16px, 20px);
    padding: 10px 0;
}
