@import"color";

.catigories {
  margin-bottom: 28px;
}

.catigories__list {
  background-color: $white;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catigories__item {
  background-color: $background-gray;
  padding-bottom: 17px;
  & a {
    text-decoration: none;
    text-transform: uppercase;
    color: $font-black;
  }
  &:first-child {
    margin-bottom: 20px;
  }
}

.catigories__title-wrapper {
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.catigories__round {
  background-color: $green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;

}

.catigories__title {
  margin: 0;
  padding: 0;
  color: $font-black;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.catigories__description {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  margin-bottom: 17px;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: $font-gray;
  border-bottom: 1px solid $border-list;
}

.catigories__link {
  font-size: 16px;
  line-height: 16px;
}
