@import "color";
@import "mixin";

.comment {
  padding: 0 20px;
  padding-top: 26px;
}

.comment__title {
  @include zeroing();
  @include font(24px, 24px);
  color: $font-black;
  margin-bottom: 25px;
}

.comment__area {
  resize: none;
  width: 100%;
  min-height: 150px;
  font-family: inherit;
  @include font(16px, 18px);
  color: $font-light-black;
  text-transform: uppercase;
  padding: 13px;
  border: 1px solid $input-border;

  @include input-status();
}


@media(min-width: 768px) {
  .comment {
    padding: 0 70px;
    padding-top: 65px;
  }

  .comment__title {
    @include font(36px, 36px);
    margin-bottom: 75px;
  }

  .comment__area {
    @include font(20px, 30px);
    padding: 10px 20px;
    min-height: 174px;
  }
}


@media(min-width: 1440px) {
  .comment {
    padding: 0 110px;
    padding-top: 65px;
  }
}
