.contacts {
  background-color: #ffffff;
  color: #111111;
  }

.contacts__invitation {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.contacts__adress {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
