@import "color";
@import "mixin";

.copyright {
  width: 100%;
  padding: 22px 20px;
}

.copyright__link {
  @include flex(space-between, center);
  flex-shrink: 0;
  @include font(16px, 16px);
  font-family: "Arial";
  text-decoration: none;
  color: $font-gray;

  &:hover svg path,
  &:focus svg path {
    fill: $green !important;
  }
  &:active {
    opacity: 0.3;
  }
}

.copyright__link-image {
  height: 34px;
}


@media(min-width: 768px) {
  .copyright {
    padding: 0;
    width: 162px;
    flex-shrink: 0;
  }
}
