@import "color";
@import "mixin";

.copyright {
  @include flex(space-between, center);
  width: 100%;
  padding: 22px 20px;
}

.copyright__link {
  @include font(16px, 16px);
  font-family: "Arial";
  text-decoration: none;
  color: $font-gray;
}
