@import "color";
@import "mixin";

.extra__title {
  @include zeroing();
  @include font(24px, 24px);
  color: $font-black;
  padding: 28px 20px 33px;
}

.extra__list {
  @include zeroing();
  list-style: none;
  padding: 0 20px;
  margin-bottom: 40px;
}

.extra__item {
  border-top: 1px solid $border;
  padding-top: 14px;
  padding-bottom: 17px;
  &:last-child {
    border-bottom: 1px solid $border;
  }
}

.extra__item-title {
  @include zeroing();
  @include font(16px, 16px);
  color: $font-light-black;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.extra__table {
  @include font(14px, 14px);
  font-family: "Arial";
  color: $font-gray;
  width: 100%;
  margin-bottom: 12px;
}

.extra__table-item:last-child {
  text-align: right;
}

.extra__link {
  @include font(16px, 20px);
}


@media(min-width: 768px) {
  .extra__title {
    @include font(36px, 36px);
    padding: 65px 66px 80px;
  }

  .extra__list {
    padding: 0 30px;
    margin-bottom: 69px;
  }

  .extra__item {
    @include flex(space-between, flex-start);
    flex-wrap: wrap;
    border: 1px solid $border;
    border-bottom: none;
    padding: 25px 36px 27px;
  }

  .extra__item-title {
    @include font(20px, 20px);
    margin-bottom: 10px;
  }

  .extra__table {
    @include font(16px, 20px);
    width: 287px;
    margin-bottom: 18px;
    text-align: right;
  }

  .extra__table-item:last-child {
    width: 90px;
  }
}
