@import"color";
@import"color";

.gift {
  min-width: 280px;
  min-height: 290px;
  background-color: $green;
  background-image: url("../img/gift-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.gift__phrase {
  @include zeroing();
  @include font(16px, 20px);
  font-family: "Arial";
  color: $white;
  text-align: center;
  width: 170px;
  margin: 0 auto;
  padding-top: 185px;
}
