@import "color";
@import "mixin";

.owner {
  @include zeroing();
  padding: 0 20px;
  border: 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 42px;
    width: 100%;
    height: 3px;
    background-color: $green;
    z-index: 0;
  }
}

.owner__title {
  @include zeroing();
  @include font(24px, 24px);
  padding-top: 27px;
  color: $font-black;
  width: 201px;
  margin-bottom: 34px;
  background-color: $white;
  position: relative;
  z-index: 1;
}

.owner__input-wrapper {
  @include zeroing();
  @include flex(flex-start, center);
  margin-bottom: 14px;
  @include undo-last-item-margin();
  position: relative;
}

.owner__input-wrapper svg {
  position: absolute;
  right: 15px;
}

.owner__input-wrapper--phone svg {
  right: 12px;
}

.owner__label {
  @include font(16px, 18px);
  flex-shrink: 0;
  color: $font-light-black;
  text-transform: uppercase;
  margin-right: 11px;
}

.owner__input {
  &:focus + svg path,
  &:active + svg path {
    fill: $green !important;
  }
}


@media(min-width: 768px) {
  .owner {
    padding: 0 70px;
    &::before {
      top: 95px;
      right: 0;
  }
}

  .owner__title {
    @include font(36px, 36px);
    padding-top: 75px;
    width: 593px;
    margin-bottom: 75px;
    margin-left: -30px;
    padding-left: 30px;
  }

  .owner__input-wrapper {
    margin-bottom: 20px;
  }

  .owner__label {
    @include font(20px, 20px);
    margin-right: 17px;
  }

  .owner__input-wrapper svg {
    right: 20px;
  }

  .owner__input-wrapper--phone svg {
    right: 17px;
  }
}


@media(min-width: 1440px) {
  .owner {
    padding: 0 110px;
    &::before {
      top: 90px;
      right: 0;
    }
  }

  .owner__title {
    padding-top: 70px;
    margin-left: -40px;
    padding-left: 40px;
  }

  .owner__flex-wrapper {
    @include flex(space-between, center);
  }

  .owner__input-wrapper {
    margin: 0;
    width: 570px;
  }
}
