@import "color";
@import "mixin";

.page-header {
  border-bottom: 1px solid $border-list;
}

.page-header__wrapper {
  @include flex(space-between, center);
  max-width: 100%;
  padding: 11px 20px;
}

.page-header__logo {
  @include logo-status();
}

.page-header__logo-title {
  padding-top: 5px;
  @include logo-status();
}

.page-header__toggle--closed {
  border: 0;
  width: 24px;
  height: 2px;
  background-color: $font-light-black;
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $font-light-black;
  }

  &::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #222222;
  }
}

.page-header__toggle--opened {
  border: 0;
  width: 23px;
  height: 2px;
  background-color: $font-light-black;
  position: relative;
  cursor: pointer;
  transform:rotate(45deg);
  &::after {
    content: "";
    width: 23px;
    height: 2px;
    background-color: #222222;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(-90deg);
  }
}


  @media (min-width: 768px) {
    .page-header__logo-title,
    .page-header__toggle {
      display: none;
    }

    .page-header {
      border-bottom: 0px;
      padding: 25px 30px 0;
      margin-bottom: 25px;
      @include flex(space-between, center);
    }

    .page-header__wrapper {
      padding: 0;
    }

    .page-header__logo img {
      width: 173px;
      height: auto;
    }
  }


  @media (min-width: 1440px) {
    .page-header {
      padding: 55px 110px 0;
    }

    .page-header__logo img {
      width: 202px;
      height: auto;
    }
  }
