@import "color";
@import "mixin";

.page-header__wrapper {
  @include flex(space-between, center);
  max-width: 100%;
  padding: 11px 20px;
}

.page-header__logo-desktop,
.page-header__logo-tablet {
  display: none;
}

@media (min-width: 768px) {
  .page-header__logo-tablet {
    display: inline;
  }

  .page-header__logo,
  .page-header__logo-desktop,
  .page-header__toggle {
    display: none;
  }

  .page-header {
    padding: 0 30px;
    padding-top: 25px;
    margin-bottom: 25px;
    @include flex(space-between, center);
  }

  .page-header__wrapper {
    padding: 0;
  }
}

@media (min-width: 1440px) {

  .page-header {
    padding-top: 55px;
  }

  .page-header__logo-desktop {
    display: inline;
  }

  .page-header__logo-tablet {
    display: none;
  }
}
