@import "color";
@import "mixin";

.programm {
  @include zeroing();
  border: 0;
  padding: 22px 20px;
  border-bottom: 1px solid $block-border;
}

.programm__input-wrapper {
  @include zeroing ();
  margin-bottom: 20px;
  @include undo-last-item-margin();
}

.programm__label {
  @include font(16px, 18px);
  color: $font-light-black;
  text-transform: uppercase;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $border;
  }

  &:hover::before,
  &:focus::before {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.programm__radio:checked + .programm__label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $green;
}


@media(min-width: 768px) {
  .programm {
    width: 630px;
    margin: 0 auto;
    padding: 24px 27px;
    border: 1px solid $border;
  }

  .programm__label {
    @include font(20px, 20px);
    margin-left: 20px;
  }
}


@media(min-width: 1440px) {
  .programm {
    width: 570px;
    margin: 0;
  }
}
