@import "color";
@import "mixin";

.programm {
  @include zeroing();
  border: 0;
  padding: 22px 20px;
  border-bottom: 1px solid $block-border;
}

.programm__input-wrapper {
  @include zeroing ();
  margin-bottom: 13px;
  @include undo-last-item-margin();
}

.programm__radio {
  @include zeroing ();
}

.programm__label {
  @include font(16px, 18px);
  color: $font-light-black;
  text-transform: uppercase;
  margin-left: 15px;
}



@media(min-width: 768px) {
  .programm {
    width: 630px;
    margin: 0 auto;
    padding: 24px 27px;
    border: 1px solid $border;
  }

  .programm__label {
    @include font(20px, 20px);
    margin-left: 20px;
  }
}


@media(min-width: 1440px) {
  .programm {
    width: 570px;
    margin: 0;
  }
}
