@import"color";
@import"mixin";

.show-more__title {
  @include zeroing();
  @include font(16px, 20px);
  color: $font-black;
}

.show-more__phrase {
  @include zeroing();
  @include font(12px, 16px);
  font-family: "Arial";
  color: $font-gray;
  margin-bottom: 18px;
}
